{% extends main.html %}

{% block title %}eDziennik - widok grupy{% end %}

{% block content %}
<div class="marginize">
    <form action="/test/post" method="POST" id="fnieobecnosc">
        {% module xsrf_form_html() %}
        <input type="hidden" name="nauczycielid" value="{{ session["userId"] }}"/>
        <input id="absentInput" type="hidden" name="absentStudents" value=""/>
    </form>
    <form action="/test/post" method="POST" id="focena">
        {% module xsrf_form_html() %}
        <input type="hidden" name="nauczycielid" value="{{ session["userId"] }}"/>
        <input id="degreeInput" type="hidden" name="degreeData" required="true" value=""/>
    </form>
    <h2>Klasa {{groupData["klasa"] }} - {{groupData["przedmiot"] }}</h2>
	<table>
	    <tr>
	        <th>numer</th>
	        <th style="min-width: 120px;">nazwisko</th>
	        <th style="min-width: 80px;">imię</th>
		    <th>nieobecność</th>
		    <th style="min-width: 200px;">nowa ocena</th>
		    <th>Szczegóły</th>
	    </tr>
	    <tr>
	        <td colspan="4"></td>
	        <td class="textcenter"><input id="opisoceny" form="focena" type="text" name="opisoceny" title="krótki opis oceny" minlength="3" maxlength="16" required="true" class="textright"/></td>
	    </tr>
	    
	    {% set i = 1 %}
	    {% for p in pupils %}
	        <tr>
	            <td class="textcenter">{{ i }}</td>
	            <td class="textcenter">{{ p["nazwisko"] }}</td>
	            <td class="textcenter">{{ p["imie"] }}</td>
	            <td class="textcenter"><input class="presancestate" type="checkbox" name="nieobecnoscUczen{{ p["id"] }}"/></td>
	            <td class="textcenter">
	                <select class="textright degreestate" style="width: 40%;" name="ocenaUczen{{ p["id"] }}">
	                    <option></option>
	                    <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
	                </select>
	            </td>
	            <td class="textcenter"><a href="{{ p["id"] }}/"><button>>></button></a></td>
	        </tr>
	        {% set i = i + 1 %}
	    {% end %}
	    <tr>
			<td class="textcenter">
			  <b>data</b>
	        </td>
	        <td class="textcenter">
				<b>dzień</b>
	        <td class="textcenter">
				<b>lekcja</b>
			</td>
			</td>
	        <td colspan="2"></td>
	    </tr>
	    <tr>
			<td>
			  <input form="fnieobecnosc" name="data" class="textright" size="10" type="date" title="poprawna data"/>
	        </td>
	        <td colspan="2">
	        	<select name="lekcja"  style="width:100%;">
					{% for l in lessons %}
						<option value="{{ l["lekcjaId"]}}">dzień:  {{ l["dzien"] }} &nbsp; &nbsp; &nbsp; lekcja: {{ l["numerLekcji"] }}</option>								
					{% end %}	
				</select>
			</td>
	        <td class="textcenter"><input form="fnieobecnosc" type="button" value="Wstaw nieobecność" onclick="presanceFormSubmit()"/></td>
	        <td class="textcenter"><input form="focena" type="button" value="Wstaw oceny" onclick="degreeFormSubmit()"/></td>
	    </tr>
    </table>
</div>
{% end %}

