{% extends ../index.html %}

{% block title %}eDziennik - nauczyciel{% end %}

{% block menu %}
	<h1>e-Dziennik</h1>
	<span class="menu_link"><a href="/teacher/{{ current_user["user"] }}/schedule">PLAN LEKCJI</a></span>
	<span class="menu_link"><a href="/teacher/{{ current_user["user"] }}/events">WYDARZENIA</a></span>
	<span class="menu_link"><a href="/teacher/{{ current_user["user"] }}/groups/">KLASY</a></span>
	<a class="right" href="/auth/signout"> WYLOGUJ</a>
{% end %}

{% block content %}
{% end %}

