/* tagi */

html {
    height: 100%;
}

body {
	background-image: url(/statics/images/pony.png);
    height: 100%;
    margin: 0px;
}

table {
	border: 1px solid gray;
	background-color: white;
}

th {
	border: 1px solid pink;
	background-color: pink;
}

td {
	border: 1px solid pink;
	background-color: white;
}

a {
	text-decoration: none;
	color: Black;
}

a:hover {
	color: Plum;
}

/* klasy */
.right {
	float:right;
}

.textright {
    text-align: right;
}

.hcentered {
    display: table;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
    border: 0px;
}

.vcentered {
    display: table-cell;
    vertical-align: middle;
    border: 0px;
    background-color: transparent;
}

.menu_link {
	margin-right: 15px;
}

.marginize {
    margin: 10px;
}

.flash {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* id */
#menu, #flashes {
	background-color: pink;
	opacity: 0.8;
    padding-left: 10px;
    padding-right: 10px;
}

#flashes {
    margin-top: 5px;
    margin-bottom: 5px;
}

