{% extends main.html %}

{% block title %}eDziennik - nieobecności{% end %}

{% block content %}
<div class="marginize">
    <h2>Nieobecności</h2>
	<table>
		<tr>
			<th class="textcenter">data</th>
			<th class="textcenter">dzień</th>
			<th class="textcenter">lekcja</th>
			<th class="textcenter">przedmiot</th>
			<th class="textcenter">usprawiedliwienie</th>
		</tr>
		{% for a in absence %}
			<tr>
				<td class="textcenter">{{ a["data"] }}</td>
				<td class="textcenter">{{ a["dzien"] }}</td>
				<td class="textcenter">{{ a["numerLekcji"] }}</td>
				<td class="textcenter"> <a href="/pupil/{{ current_user["user"] }}/grades/{{ a["id"]}}">{{ a["nazwa"] }}</a></td>
				{% if a["usprawiedliwienie"] == 0%}
					<td class="textcenter">NIE</td>
				{% else %}
					<td class="textcenter">TAK</td>
				{% end %}
			</tr>
		{% end %}
    </table>
</div>
{% end %}

