{% extends main.html %}

{% block title %}eDziennik - wydarzenia{% end %}

{% block content %}
<div class="marginize">
    <h2>Wydarzenia</h2>
	<table>
		<tr>
			<th class="textcenter">data</th>
			<th class="textcenter">dzień</th>
			<th class="textcenter">lekcja</th>
			<th class="textcenter">przedmiot</th>
			<th class="textcenter">nauczyciel</th>
			<th class="textcenter">tresc</th>
		</tr>
		{% for e in events %}
			<tr>
				<td class="textcenter">{{ e["data"] }}</td>
				<td class="textcenter">{{ e["dzien"] }}</td>
				<td class="textcenter">{{ e["numerLekcji"] }}</td>
				<td class="textcenter"><a href="/pupil/{{ current_user["user"] }}/grades/{{ e["id"]}}">{{ e["nazwa"] }}</a></td>
				<td class="textcenter">{{ e["imie"] }} {{ e["nazwisko"] }}</td>
				<td class="textcenter">{{ e["tresc"] }}</td>
			</tr>
		{% end %}
    </table>
</div>
{% end %}

