{% extends main.html %}

{% block title %}eDziennik - oceny ucznia{% end %}

{% block content %}
<div class="marginize">
    <h2>Oceny</h2>
	<table>
		<tr>
			<th class="textcenter">data</th>
			<th class="textcenter">ocena</th>
			<th class="textcenter">przedmiot</th>
			<th class="textcenter">nauczyciel</th>
			<th class="textcenter">opis</th>
		</tr>
		{% for g in grades %}
			<tr>
				<td class="textcenter">{{ g["data"] }}</td>
				<td class="textcenter">{{ g["ocena"] }}</td>
				<td class="textcenter"> <a href="/pupil/{{ current_user["user"] }}/grades/{{ g["id"]}}">{{ g["nazwa"] }}</a></td>
				<td class="textcenter">{{ g["imie"] }} {{ g["nazwisko"] }}</td>
				<td class="textcenter">{{ g["opis"] }}</td>
			</tr>
		{% end %}
    </table>
</div>
{% end %}

