{% extends ../index.html %}

{% block title %}eDziennik - oceny ucznia{% end %}

{% block menu %}
	<h1>e-Dziennik</h1>
	<span class="menu_link"><a href="/pupil/{{ current_user["user"] }}/schedule">PLAN LEKCJI</a></span>
	<span class="menu_link"><a href="/pupil/{{ current_user["user"] }}/events">WYDARZENIA</a></span>
	<span class="menu_link"><a href="/pupil/{{ current_user["user"] }}/grades/">OCENY</a></span>
	<span class="menu_link"><a href="/pupil/{{ current_user["user"] }}/absence">OBECNOŚĆ</a></span>
	<a class="right" href="/auth/signout"> WYLOGUJ</a>
{% end %}

{% block content %}
{% end %}
