{% extends main.html %}

{% block title %}eDziennik - plan lekcji{% end %}

{% block content %}
<div class="marginize">
    <h2>Plan lekcji</h2>
	<table>
		<tr>
			<th class="textcenter">dzień</th>
			<th class="textcenter">lekcja</th>
			<th class="textcenter">przedmiot</th>
			<th class="textcenter">nauczyciel</th>
			<th class="textcenter">sala</th>
		</tr>
		{% for s in schedule %}
			<tr>
				<td class="textcenter">{{ s["dzien"] }}</td>
				<td class="textcenter">{{ s["numerLekcji"] }}</td>
				<td class="textcenter"> <a href="/pupil/{{ current_user["user"] }}/grades/{{ s["id"] }}">{{ s["nazwa"] }}</a></td>
				<td class="textcenter">{{ s["imie"] }} {{ s["nazwisko"] }}</td>
				<td class="textcenter">{{ s["sala"] }}</td>
			</tr>
		{% end %}
    </table>
</div>
{% end %}

