<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <link rel="stylesheet" href="/statics/styles/default.css" type="text/css"/>
    <script type="text/javascript" src="/statics/scripts/gui.js"></script>
    <title>{% block title %}eDziennik{% end %}</title>
</head>
<body onload="hide('hidable')">

{% block outer_menu %}
    <div id="menu">
	    {% block menu %}
	    {% end %}
	    <br/>
    </div>
{% end outer_menu %}

{% if is_flash() %}
    <div id="flashes">
        {% block flash_messages %}
            <hr/>
            <br/>
            {% for message in get_flash() %}
                <b>{{ message[0] }}</b>: <i>{{ message[1] }}</i><br/>
            {% end %}
            <br/>
            <hr/>
        {% end %}
    </div>
{% end %}

{% block content %}
    {% if not current_user %}
        Niezalogowany!
    {% else %}
        Zalogowany jako {{ current_user["user"] }}
    {% end %}
    <br/><br/>
    <a href="/auth/signin">zaloguj</a><br/>
    <a href="/auth/signout">wyloguj</a><br/>
{% end %}

</body>
</html>

